.summary {

  /* head */
  &-head {
    padding: 32px 40px 29px 80px;
    color: #fff;
    background-color: #1f2229;

    &__title {
      font-family: Panton;
      font-size: 28px;
      font-weight: bold;
      line-height: 1.14;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 19px;
    }

    &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    &__table {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-column {
        padding-right: 18px;
        padding-left: 18px;
        border-right: 1px solid hsla(0, 0%, 90%, .2);

        &-name,
        &-value {
          font-family: Panton;
          line-height: 1.5;
          font-size: 14px;
        }

        &-name {
          color: #939aa2;
        }

        &-value {
          color: #ffffff;
        }
      }

      &-column:first-child {
        padding-left: 0;
      }

      &-column:last-child {
        border-right: none;
      }
    }

    &__button-document {
      width: 124px;
      height: 32px;
      border: 1px solid #fff;
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      border-radius: 1px;
      cursor: pointer;
    }
  }

  &__close {
    width: 24px;
    height: 24px;
    background-image: url('/assets/images/icon-close2x.png');
    background-size: contain;
    cursor: pointer;
  }

  /* detail */
  &-detail {
    padding: 64px 80px 48px 80px;
    max-height: calc(100vh - 341px);
    overflow: auto;

    &__main {
      display: flex;
      border-bottom: 1px solid #e8e6e6;
      margin-bottom: 28px;
    }

    &__table {
      display: flex;
      flex-wrap: wrap;

      &-column {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 25%;
        padding-left: 24px;
        padding-right: 10px;
        line-height: 24px;
        border-left: 1px solid #e8e6e6;
        margin-bottom: 24px;

        &-name {
          font-size: 16px;
          line-height: 1.5;
          color: #939aa2;
        }
      }

      &-column:nth-child(3n+1) {
        border-left: none;
      }
    }

    &__photo {
      width: 80px;
      height: 80px;
      background-image: url('/assets/images/photo.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    &__button {
      display: flex;
      justify-content: flex-end;

      &-content {
        padding-left: 30px;
        padding-right: 30px;
        color: #fff;
        background-color: #da2337;
        box-shadow: 0 2px 14px 0 rgba(34, 34, 37, .1);
        font-family: PantonSemiBold;
        font-size: 14px;
        line-height: 36px;
        border-radius: 1px;
        cursor: pointer;
      }
    }
  }

}

@media (max-width: 1366px) and (min-width: 768px) {
  .summary {
    position: relative;
  }
}
