<div class="summary">
  <div class="summary-head">
    <div class="summary-head__title">
      <div>
        {{ selectContract.car.make + ' ' + selectContract.car.model }}
      </div>
      <div class="summary__close" (click)="closeSummaryBlock()"></div>
    </div>

    <div class="summary-head__main">
      <div class="summary-head__table">

        <div class="summary-head__table-column">
          <div class="summary-head__table-column-name">
            Год
          </div>
          <div class="summary-head__table-column-value">
            {{ selectContract.car.manufactureYear }}
          </div>
        </div>

        <div class="summary-head__table-column">
          <div class="summary-head__table-column-name">
            Л/С
          </div>
          <div class="summary-head__table-column-value">
            {{ selectContract.car.enginePower }}
          </div>
        </div>

        <div class="summary-head__table-column">
          <div class="summary-head__table-column-name">
            Цвет
          </div>
          <div class="summary-head__table-column-value">
            {{ selectContract.car.color }}
          </div>
        </div>

        <div class="summary-head__table-column">
          <div class="summary-head__table-column-name">
            Гос. Номер
          </div>
          <div class="summary-head__table-column-value">
            {{ selectContract.car.licensePlate }}
          </div>
        </div>

        <div class="summary-head__table-column">
          <div class="summary-head__table-column-name">
            VIN
          </div>
          <div class="summary-head__table-column-value">
            {{ selectContract.car.vin }}
          </div>
        </div>
      </div>

      <div class="summary-head__button-document">
        Документы
      </div>
    </div>
  </div>

  <div class="summary-detail">
    <div class="summary-detail__main">
      <div class="summary-detail__photo"></div>

      <div class="summary-detail__table">
        <div class="summary-detail__table-column">
          <div class="summary-detail__table-column-name">
            Заемщик
          </div>
          <div>{{ selectContract.client.clientName }}</div>
        </div>

        <div class="summary-detail__table-column">
          <div class="summary-detail__table-column-name">
            Номер кредитного договора
          </div>
          <div>{{ selectContract.creditAgreementNumber }}</div>
        </div>

        <div class="summary-detail__table-column">
          <div class="summary-detail__table-column-name">
            Сумма долга
          </div>
          <div>{{ selectContract.totalDebt }}</div>
        </div>

        <div class="summary-detail__table-column">
          <div class="summary-detail__table-column-name">
            Адрес регистрации
          </div>
          <div>{{ selectContract.client.clientAddress }}</div>
        </div>

        <div class="summary-detail__table-column">
          <div class="summary-detail__table-column-name">
            Статус кредитного договора
          </div>
          <div>{{ selectContract.creditAgreementStatus }}</div>
        </div>

        <div class="summary-detail__table-column">
          <div class="summary-detail__table-column-name">
            Подстатус кредитного договора
          </div>
          <div>{{ selectContract.creditAgreementSubStatus }}</div>
        </div>
      </div>
    </div>

    <div class="summary-detail__button">
      <div class="summary-detail__button-content" (click)="doInspection()">Начать осмотр</div>
    </div>

  </div>
</div>
