<div class="withdraw-contracts">

  <h1 i18n>Hello i18n!</h1>

  <div class="search-request">
    <input class="search-request__input" placeholder="Поиск по номеру договора, ФИО или VIN-номеру" [(ngModel)]="searchText">
  </div>

  <div class="search-total">
    Найдено: {{ contracts | searchContract:searchText:true }} контрактов
  </div>

  <div class="withdraw-card" *ngFor="let contract of contracts | searchContract:searchText" (click)="selectContract(contract)"
    [ngClass]="{active: isActiveContract(contract)}">
    <div class="withdraw-card__data">

      <div class="withdraw-card__title">
        <div class="withdraw-card__model">
          {{ contract.car.make + ' ' + contract.car.model }}
        </div>
        <div class="withdraw-card__number">
          {{ contract.creditAgreementNumber }}
        </div>
      </div>

      <div class="withdraw-card__props">
        <div class="withdraw-card__vin">
          <div>
            {{ contract.car.licensePlate }}
          </div>
          <div class="withdraw-card__props_separator">|</div>
          <div>
            VIN: {{ contract.car.vin }}
          </div>
        </div>
        <div>
          Изъятие остановлено
        </div>
      </div>

      <div class="withdraw-card__owner">
        <div>
          {{ contract.client.clientName }}
        </div>
      </div>

    </div>
  </div>


</div>
