.withdraw-contracts {
  text-align: center;
  margin-top: 24px;
  width: 100%;
}

/* search */
.search-request {
  background: #fff;
  position: relative;
  padding: 0 0 0 16px;
  box-shadow: 0 2px 8px 0 rgba(34, 34, 37, .1);
  margin-bottom: 24px;

  &__input {
    height: 48px;
    width: 100%;
    border: none;
    outline: none;
    font-family: PantonSemiBold;
    font-size: 16px;
    color: #1f2229;
  }

  &:after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    right: 12px;
    top: 50%;
    margin-top: -12px;
    position: absolute;
    background-image: url('/assets/images/icon-search3x.png');
    background-size: contain;
  }
}



.search-total {
  margin: 0;
  text-align: left;
  font-family: Panton;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.14;
  color: #1f2229;
  padding-bottom: 8px;
}

/* card-contract */

.withdraw-card {
  margin-bottom: 8px;
  padding: 24px 32px 24px 56px;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(34, 34, 37, .1);
  font-family: PantonSemiBold;
  font-size: 14px;
  line-height: 16px;

  &__data {
    flex-direction: column;
    display: flex;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__model {
    font-family: Panton;
    font-size: 18px;
    font-weight: bold;
  }

  &__number {
    font-family: Panton;
    font-weight: 600;
  }

  &__props {
    display: flex;
    justify-content: space-between;
    font-family: Panton;
    font-size: 14px;
    font-weight: 600;

    &_separator {
      color: #d8d8d8;
      margin-right: 16px;
      margin-left: 18px;
    }
  }

  &__vin {
    display: flex;
  }

  &__owner {
    display: flex;
    justify-content: flex-start;
    font-family: Panton;
    font-size: 14px;
    font-weight: 600;
  }

  &.active {
    background: #da2337;
    color: white;
  }
}


