.result {
  padding: 32px 40px 0 40px;
  display: flex;
  flex-direction: column;
  height: 689px;

  &__item {
    height: 64px;
    border: 1px solid #e8e6e6;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-family: Panton;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
    color: #1f2229;
    margin-bottom: 16px;
    cursor: pointer;
  }

  &__media {
    display: flex;
    justify-content: space-between;
  }
}

.active {
  background-color: #da2337;
  font-family: PantonBold;
  color: #fff;
}

.result__media {
  &__title {
    font-family: Panton;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #1f2229;
  }

  &__photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }

  &__photo.video {
    border-bottom: none;
  }

  &-photo {
    margin-top: 16px;
    width: 304px;
    border-bottom: 1px solid #e8e6e6;

    &-body {
      display: flex;
      flex: 1;
      margin-bottom: 15px;
      align-items: center;
    }

    &-miniature {
      width: 112px;
      height: 72px;
      display: inline-flex;
      background-position: center;
      border: 1px solid #e8e6e6;
      margin-right: 16px;
      cursor: pointer;
      display: flex;
      position: relative;
      align-items: center;
      overflow: hidden;

      &_remove {
        width: 16px;
        height: 16px;
        background: url(/assets/images/photo-min-del2x.png) 50% no-repeat;
        background-size: contain;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
      }

      &_img {
        width: 100%;
      }
    }

    &-spiner {
      position: absolute;
      background: white;
      width: 112px;
      height: 72px;
      border: 1px solid #e8e6e6;
      margin-right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-load {
      width: 112px;
      height: 72px;
      display: inline-flex;

      border: 1px solid #e8e6e6;
      margin-right: 16px;
      cursor: pointer;

      &_video {
        background: url(/assets/images/combined-shape.svg) no-repeat;
        background-position: center;
      }

      &_img {
        background: url(/assets/images/i-media-shape2x.png) no-repeat;
        background-position: center;
      }

      &_name {
        flex-grow: 1;
        flex-basis: 50%;
      }
    }

    input[type=file] {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}

.carousel-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  top: 50%;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
  }
}
