<div class="result">

  <div *ngFor="let completeItem of completeItems | enumToArray; let i = index" [ngClass]="{active: isActiveComponent(completeItem)}"
    class="result__item" (click)="selectItems(completeItem)">
    {{completeItems[completeItem]}}
  </div>

  <div class="result__media">
    <div class="result__media-photo-body">
      <cc-photo-load *ngIf="!dataVideoComplete.length" [typeFile]="'Video'" [fieldsData]="'video'" (imageLoaded)="imageLoaded($event)"
        (spinerShow)="spinerShow($event)"></cc-photo-load>

      <div *ngIf="imageLoading.video" class="result__media-photo-spiner">
        <mat-spinner strokeWidth="3" value="90" mode="determinate" [diameter]="60"></mat-spinner>
      </div>

      <div *ngIf="dataVideoComplete.length" class="result__media-photo-miniature" (click)="showOriginalSize(dataVideoComplete[0].id)">
        <img class="result__media-photo-miniature_img" [src]="dataVideoComplete[0].miniature">
        <div class="result__media-photo-miniature_remove" (click)="removeMiniature('video')"></div>
      </div>

      <div class="result__media-photo-load_name">Видеозапись с подтверждением</div>
    </div>
    <div class="result__media-photo-body">
      <cc-photo-load *ngIf="!dataPhotoComplete.length" [fieldsData]="'photo'" (imageLoaded)="imageLoaded($event)"
        (spinerShow)="spinerShow($event)"></cc-photo-load>

      <div *ngIf="imageLoading['photo']" class="result__media-photo-spiner ooooo">
        <mat-spinner strokeWidth="3" value="90" mode="determinate" [diameter]="60"></mat-spinner>
      </div>

      <div *ngIf="dataPhotoComplete.length" class="result__media-photo-miniature" (click)="showOriginalSize(dataPhotoComplete[0].id)">
        <img class="result__media-photo-miniature_img" [src]="dataPhotoComplete[0].miniature">
        <div class="result__media-photo-miniature_remove" (click)="removeMiniature('photo')"></div>
      </div>

      <div class="result__media-photo-load_name">Подпись заемщика</div>
    </div>
  </div>

</div>

<div *ngIf="showCarousel">
  <div class="carousel-container">
    <div>
      <cc-carousel class="carousel-container__img" [images]="images" [idBigFile]="idImageBig" (closePanel)="closeCarousel()"></cc-carousel>
    </div>
  </div>
  <div class="carousel-container__overlay"></div>
</div>
