<mat-form-field>
  <input [value]="value" (blur)="onBlur($event.target.value)" matInput [disabled]="disabled" #input maxlength="350"
    placeholder="Введите текст комментария">
  <mat-hint align="end">{{input.value?.length || 0}}/350</mat-hint>
</mat-form-field>
