<div class="info">
  <div class="info__title">Информация из КХД</div>
  <div class="info__field">

    <mat-form-field>
      <mat-label>Марка</mat-label>
      <mat-select formControlName="BRAND">
        <mat-option *ngFor="let brand of brands" [value]="brand.name">
          {{brand.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Модель</mat-label>
      <mat-select formControlName="MODEL">
        <mat-option [value]="null">Не выбрано</mat-option>
        <mat-option *ngFor="let model of models" [value]="model.name">
          {{model.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="YEAR_ISSUE" matInput placeholder="Год выпуска">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="HORSEPOWER" matInput placeholder="Л/С">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="COLOR" matInput placeholder="Цвет">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="GOS_NUMBER" matInput placeholder="Гос. номер">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="VIN" matInput placeholder="VIN">
    </mat-form-field>
  </div>
</div>
