<h1 mat-dialog-title>Ошибка</h1>
<div mat-dialog-content>
  Исправьте следующую ошибку:
  <ul>
    <li *ngIf="data.errorType === 'parkingIdEmpty'">
      Выберите стоянку
    </li>
    <li *ngIf="data.errorType === 'generalVideoEmpty'">
      Загрузите круговое видео на вкладке Фото/Видео
    </li>
  </ul>
</div>
