.parking {
    position: fixed;
    right: 0;
    left: 880px;
    /* head */
    &-head {
      padding: 32px 40px 29px 80px;
      color: #fff;
      background-color: #1f2229;
      &__title {
        font-family: Panton;
        font-size: 28px;
        font-weight: bold;
        line-height: 1.14;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 19px;
      }
    }
    &__close {
      width: 24px;
      height: 24px;
      background-image: url('/assets/images/icon-close2x.png');
      background-size: contain;
      cursor: pointer;
    }

    &-detail {
      height: calc(100vh - 200px);
      overflow: auto;

      &__main {
        margin-bottom: 28px;
      }
    }
  }
  .active-row {
    color: #fff;
    background: #da2337;
  }
  .button {
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
    &-content {
      padding-left: 30px;
      padding-right: 30px;
      color: #fff;
      background-color: #da2337;
      box-shadow: 0 2px 14px 0 rgba(34, 34, 37, .1);
      font-family: PantonSemiBold;
      font-size: 14px;
      line-height: 36px;
      border-radius: 1px;
      cursor: pointer;
    }
  }

  table {
    width: 100%;
  }

  td.mat-cell {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  }

  .mat-elevation-z8 {
    box-shadow: none
  }

  .carousel-container {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    top: 50%;

    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000000;
      opacity: 0.7;
    }
  }
