<div class="parking">
  <div class="parking-head">
    <div class="parking-head__title">
      Выбор стоянки
      <div class="parking__close" (click)="closePanel()"></div>
    </div>
  </div>

  <div class="parking-detail">
    <div class="parking-detail__main">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Стоянка / ТО</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'active-row': isActiveRow(element.id)}"> {{element.type}}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Название </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'active-row': isActiveRow(element.id)}"> {{element.name}}
          </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Город, адрес </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'active-row': isActiveRow(element.id)}"> {{element.city
            +', '+ element.address}} </td>
        </ng-container>

        <!-- CarCount Column -->
        <ng-container matColumnDef="carCount">
          <th mat-header-cell *matHeaderCellDef> Количество автомобилей </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'active-row': isActiveRow(element.id)}">
            {{element.carCount}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'active-row': isActiveRow(row.id)}"
          (click)="highlight(row)"></tr>
      </table>
    </div>
    <div class="button">
      <div class="button-content" (click)="sendParking()">Отправить ТС на стоянку</div>
    </div>
  </div>
</div>
