<div class="common-view">
  <div class="common-view__damages">
    <div *ngFor="let component of components; let i = index">
      <div class="common-view__damage" [ngClass]="{active: isActiveComponent(component)}" (click)="onSelectDamage(component)">
        <div class="common-view__damage-title">{{i + 1}}. {{component.name}}</div>
        <div *ngIf="component.validate" class="common-view__damage-button_finish"></div>
      </div>
    </div>
  </div>
</div>
