.common-view {
  padding: 32px 40px 40px 40px;

  &__damages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }

  &__damage {
    width: 304px;
    height: 64px;
    margin-bottom: 24px;
    border: 1px solid #e8e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      margin-left: 24px;
      font-family: Panton;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.14;
    }

    &-button_finish {
      background-image: url(/assets/images/i-demage-status-finish2x.png);
      margin: 4px;
      width: 16px;
      height: 16px;
      background-size: contain;
      margin-right: 16px;
      background-repeat: no-repeat;
    }

  }
}

.active {
  background-color: #da2337;
  font-family: PantonBold;
  color: #fff;
}

