<div [@toggleState]="idx === counter ? 'active' : 'inactive'" class="carousel" *ngFor="let img of images; let idx = index">
  <div class="carousel__button">
    <span class="arrow prev" (click)="dec()"></span>
  </div>

  <ng-container *ngIf="img.type === 'photo'; else Video ">
    <img class="carousel__img" [src]="img.bigFile" />
  </ng-container>
  <ng-template #Video>
    <video controls="" name="media">
      <source [src]="img.bigFile" type="video/mp4"></video>
  </ng-template>

  <div class="carousel__button">
    <span class="arrow next" (click)="inc()"></span>
  </div>
</div>

<span class="carousel__close" (click)="closeCarousel()"></span>
