.carousel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 55%;

  &__button {
    display: flex;
    align-items: center;
  }

  &__img {
    max-width: 99%;
  }

  &__close {
    position: fixed;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-image: url(/assets/images/modal-close2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
  }
}

.arrow {
  position: absolute;
  background-repeat: no-repeat;
  width: 74px;
  height: 40px;
  background-size: contain;
  cursor: pointer;
  opacity: .7;
}

.prev {
  background-image: url(/assets/images/arrow-left2x.png);
  left: 0;
  background-position: left;
}

.next {
  background-image: url(/assets/images/arrow-right2x.png);
  right: 0;
  background-position: right;
}
