<div class="result">
  <div class="result__info">
    <div class="result__info_title">
      Информация о ТС
    </div>
    <div class="result__info_wrapper">
      <form [formGroup]="form" novalidate>
        <cc-form-block [title]="'Общая информация'" [fields]="fields['general-info']"> </cc-form-block>
        <cc-form-block [title]="'Комфорт в салоне'" [fields]="fields['comfort-cabin']"> </cc-form-block>
      </form>
    </div>
  </div>

  <div class="result__photo">
    <div class="result__photo_title">
      Фото / Видео
    </div>
    <div class="result__photo_wrapper">
      <cc-main-photo [resultView]='true'></cc-main-photo>
    </div>
  </div>

  <div class="result__damage">
    <div class="result__damage_title">
      Повреждения
    </div>
    <div class="result_damage_wrapper">
      <ng-template ngFor let-component [ngForOf]="components" let-i="index">
        <ng-container *ngIf="component.validate">
          <div class="comment-detail__main-photo-body">
            <div class="title">{{ component.name }}</div>
            <div class="comment-detail__main-photo-loaded">
              <ng-template ngFor let-photo [ngForOf]="component.photo" let-i="index">
                <div *ngIf="i < countShowMiniatureimg;" class="photo-miniature">
                  <img class="photo-miniature_img" [src]="photo.miniature">
                </div>
                <div *ngIf="i === countShowMiniatureimg;" class="photo-miniature">
                  Еще {{ component.photo | damagesResultImages }} фото
                </div>
              </ng-template>
            </div>
          </div>
        </ng-container>
      </ng-template>

      <div class="result_damage-comment">Общее состояние автомобиля</div>
      <div class="result_damage-comment_text">
        <ng-container *ngIf="!comment; else GeneralCondition">
          Комментарий отсутствует
        </ng-container>
        <ng-template #GeneralCondition>
          {{ comment }}
        </ng-template>
      </div>

      <cc-inspection-next-tab [currentIndexTab]="3"></cc-inspection-next-tab>
    </div>
  </div>
