[class$="_title"] {
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 14px 0 rgba(34, 34, 37, 0.1);
  background-color: #1f2229;
  color: #ffffff;
  margin-bottom: 32px;
  padding-left: 40px;
  font-family: Panton;
  font-weight: bold;
  line-height: 1.5;
}

[class$="_wrapper"] {
  padding: 0 40px 40px 40px;
}

.result_damage-comment {
  &_text {
    font-family: Panton;
    font-size: 14px;
    line-height: 1.14;
    color: #939aa2;
    margin-top: 16px;
  }
}

.comment {
  /* head */
  &-head {
    padding: 32px 40px 29px 80px;
    color: #fff;
    background-color: #1f2229;

    &__title {
      font-family: Panton;
      font-size: 28px;
      font-weight: bold;
      line-height: 1.14;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 19px;
    }
  }

  &__close {
    width: 24px;
    height: 24px;
    background-image: url('/assets/images/icon-close2x.png');
    background-size: contain;
    cursor: pointer;
  }

  /* detail */
  &-detail {
    padding: 32px 80px 0 80px;

    &__main {
      border-bottom: 1px solid #e8e6e6;
      margin-bottom: 28px;

      &-photo {

        &-body {
          display: flex;
          margin-bottom: 15px;
          flex-direction: column;
        }

        &-load {
          width: 112px;
          height: 72px;
          display: inline-flex;
          flex: 1;
          border: 1px solid #e8e6e6;
          margin-right: 16px;
          cursor: pointer;

          &_img {
            background: url(/assets/images/i-media-shape2x.png) no-repeat;
            background-position: center;
            min-width: 70px;
          }
        }

        &-loaded {
          display: flex;
          flex-wrap: wrap;
        }

        input[type=file] {
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }

      &-title {
        font-family: Panton;
        font-size: 18px;
        font-weight: bold;
        line-height: 0.89;
        color: #1f2229;
      }

      &-damage {
        &-body {
          margin-top: 24px;
          display: flex;
          flex-flow: wrap;
        }

        &-checkbox {
          flex-basis: 25%;
          margin-bottom: 24px;
        }
      }

      &-comment {
        &-body {
          margin-top: 24px;
          display: flex;
          flex-direction: column;
          margin-bottom: 24px;
        }
      }
    }
  }
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #ff000000 !important;
}

:host ::ng-deep .mat-checkbox-checkmark-path {
  stroke: #ff0000 !important;
}

.mat-form-field {
  width: 100%;
}

@media (max-width: 1366px) and (min-width: 768px) {
  .comment {
    position: relative;
  }
}
