<div class="withdrawal-root">
  <cc-left-panel class="left-panel-wrapper" *ngIf="contracts" [contracts]="contracts" [unActivate]="activeContract"
    (takeContract)="displayContractDetails($event)"></cc-left-panel>

  <cc-right-panel class="right-panel-wrapper" *ngIf="selectContract" [selectContract]="selectContract" (closePanel)="closeRightPanel()"></cc-right-panel>

</div>
