.withdrawal-root {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 64px);
}

/* Left Section */
.left-panel-wrapper {
  margin-left: 80px;
  margin-right: 80px;
  flex: 0 720px;
}

/* Right Section */
.right-panel-wrapper {
  flex: 1;
  box-shadow: 0 2px 8px 0 rgba(34, 34, 37, 0.1);
  background-color: #ffffff;
  position: fixed;
  right: 0;
  left: 880px;
  height: 100%;
}

@media (max-width: 1366px) and (min-width: 768px) {
  .right-panel-wrapper {
    position: fixed;
    height: 100vh;
    right: 0;
    left: 0;
  }
}
