.comment {
  position: fixed;
  right: 0;
  left: 880px;

  /* head */
  &-head {
    padding: 32px 40px 29px 80px;
    color: #fff;
    background-color: #1f2229;

    &__title {
      font-family: Panton;
      font-size: 28px;
      font-weight: bold;
      line-height: 1.14;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 19px;
    }
  }

  &__close {
    width: 24px;
    height: 24px;
    background-image: url('/assets/images/icon-close2x.png');
    background-size: contain;
    cursor: pointer;
  }

  /* detail */
  &-detail {
    padding: 32px 80px 40px 80px;
    height: calc(100vh - 230px);
    overflow: auto;

    &__main {
      border-bottom: 1px solid #e8e6e6;
      margin-bottom: 28px;

      &-photo {

        &-body {
          display: flex;
          margin-bottom: 15px;
          margin-top: 14px;
        }

        &-load {
          width: 112px;
          height: 72px;
          display: inline-flex;
          flex: 1;
          border: 1px solid #e8e6e6;
          margin-right: 16px;
          cursor: pointer;

          &_img {
            background: url(/assets/images/i-media-shape2x.png) no-repeat;
            background-position: center;
            min-width: 70px;
          }
        }

        &-loaded {
          display: flex;
          flex: 7;
          flex-wrap: wrap;
        }

        input[type=file] {
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }

      &-title {
        font-family: Panton;
        font-size: 18px;
        font-weight: bold;
        line-height: 0.89;
        color: #1f2229;
        margin-bottom: 10px;
      }

      &-description {
        margin-top: 24px;
        font-family: Panton;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.14;
        color: #1f2229;
      }

      &-damage {
        &-body {
          margin-top: 24px;
          display: flex;
          flex-flow: wrap;
        }

        &-checkbox {
          flex-basis: 30%;
          margin-bottom: 24px;
        }
      }
    }
  }
}

.photo {
  margin-top: 16px;
  width: 304px;
  border-bottom: 1px solid #e8e6e6;

  &-body {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
  }

  &-miniature {
    width: 112px;
    height: 72px;
    display: inline-flex;
    background-position: center;
    border: 1px solid #e8e6e6;
    margin-right: 16px;
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;

    &_remove {
      width: 16px;
      height: 16px;
      background: url(/assets/images/photo-min-del2x.png) 50% no-repeat;
      background-size: contain;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
    }

    &_img {
      width: 100%;
    }
  }

  &-spiner {
    width: 112px;
    height: 72px;
    border: 1px solid #e8e6e6;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-load {
    width: 112px;
    height: 72px;
    display: inline-flex;

    border: 1px solid #e8e6e6;
    margin-right: 16px;
    cursor: pointer;

    &_img {
      background: url(/assets/images/i-media-shape2x.png) no-repeat;
      background-position: center;
    }
  }

  input[type=file] {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
  }
}

.carousel-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  top: 50%;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
    z-index: 2;
  }
}

.button {
  display: flex;

  &-content {
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    background-color: #da2337;
    box-shadow: 0 2px 14px 0 rgba(34, 34, 37, .1);
    font-family: PantonSemiBold;
    font-size: 14px;
    line-height: 36px;
    border-radius: 1px;
    cursor: pointer;
  }
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #ff000000;
}

:host ::ng-deep .mat-checkbox-checkmark-path {
  stroke: #ff0000 !important;
}

@media (max-width: 1366px) and (min-width: 768px) {
  .comment {
    position: relative;
    right: 0;
    left: 0;
  }
}
