<div class="comment">
  <div class="comment-head">
    <div class="comment-head__title">
      <div>
        {{ titleComments }}
      </div>
      <div class="comment__close" (click)="closePanel()"></div>
    </div>
  </div>

  <div class="comment-detail">
    <div class="comment-detail__main">
      <ng-container *ngIf="componentSelect.field !== 'General_condition'; else GeneralCondition">
        <div class="comment-detail__main-photo">
          <div class="comment-detail__main-title">Фотографии</div>
          <div class="comment-detail__main-photo-body">

            <cc-photo-load (imageLoaded)="imageLoaded($event)"></cc-photo-load>

            <div class="comment-detail__main-photo-loaded">
              <div *ngFor="let photo of componentSelect.photo; let i = index" class="photo-miniature">
                <img class="photo-miniature_img" [src]="photo.miniature" (click)="showOriginalSize(photo.id)">
                <div class="photo-miniature_remove" (click)="removeMiniature(i)"></div>
              </div>
            </div>
            <mat-error>
              {{ errorLoadImg }}
            </mat-error>
          </div>
        </div>

        <form [formGroup]="form" novalidate>
          <div class="comment-detail__main-damage">
            <div class="comment-detail__main-title">Тип повреждения</div>
            <div formGroupName="damages" class="comment-detail__main-damage-body">
              <ng-template ngFor let-damage [ngForOf]="damagesList">
                <div *ngIf="damagesSelectComponent(damage)" class="comment-detail__main-damage-checkbox">
                  <mat-checkbox class="example-margin" [formControlName]="getControlName(damage)">{{damage.name}}</mat-checkbox>
                </div>
              </ng-template>
            </div>
          </div>

          <div class="comment-detail__main-comment">
            <div class="comment-detail__main-title">Комментарий</div>

            <cc-comment formControlName="comment"></cc-comment>

          </div>
        </form>

        <div *ngIf="showCarousel">
          <div class="carousel-container">
            <div>
              <cc-carousel class="carousel-container__img" [images]="images" [idBigFile]="idImageBig" (closePanel)="closeCarousel()"></cc-carousel>
            </div>
          </div>
          <div class="carousel-container__overlay"></div>
        </div>
      </ng-container>

      <ng-template #GeneralCondition>
        <div class="comment-detail__main-comment">
          <div class="comment-detail__main-title">Описание состояния </div>
          <div class="comment-detail__main-description">В свободной форме опишите внешнее состояние транспортного
            средства</div>
          <div class="comment-detail__main-comment-body">
            <mat-form-field>
              <input matInput #input maxlength="350" placeholder="Введите текст комментария" [(ngModel)]="componentSelect.comment">
              <mat-hint align="end">{{input.value?.length || 0}}/350</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </ng-template>
    </div>

    <div class="button">
      <div class="button-content" (click)="nextComponent()">Далее</div>
    </div>
  </div>
</div>
