.button {
    display: flex;
    justify-content: flex-end;

    &-content {
      padding-left: 30px;
      padding-right: 30px;
      color: #fff;
      background-color: #da2337;
      box-shadow: 0 2px 14px 0 rgba(34, 34, 37, .1);
      font-family: PantonSemiBold;
      font-size: 14px;
      line-height: 36px;
      border-radius: 1px;
      cursor: pointer;
    }
  }