.photo {
  &-body {
    display: flex;
    margin-bottom: 15px;
    margin-top: 14px;
  }

  &-load {
    width: 112px;
    height: 72px;
    display: inline-flex;
    flex: 1;
    border: 1px solid #e8e6e6;
    margin-right: 16px;
    cursor: pointer;

    &_img {
      background: url(/assets/images/i-media-shape2x.png) no-repeat;
      background-position: center;
      min-width: 70px;
    }

    &_video {
      background: url(/assets/images/combined-shape.svg) no-repeat;
      background-position: center;
      min-width: 70px;
    }
  }

  &-loaded {
    display: flex;
    flex: 7;
    flex-wrap: wrap;
  }


}

input[type=file] {
  width: 100%;
  height: 100%;
  opacity: 0;
}
