  <header id="header">
      <nav mat-tab-nav-bar>
          <a mat-tab-link *ngFor="let link of navLinks"
              [routerLink]="link.link"
              routerLinkActive #rla="routerLinkActive"
              [active]="rla.isActive">
              {{link.label}}
          </a>
      </nav>

      <button mat-button (click)="onExit()">Выход</button>
  </header>
