/* Header */
header{
    position: fixed;
    display: flex;
    width: 100%;
    padding: 0px 80px 0 80px;
    height: 64px;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    z-index: 2;
  }

  :host ::ng-deep .mat-tab-nav-bar {
    display: flex;
    align-items: stretch;
    border-bottom: none;
  }

  :host ::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #da2337;
    height: 4px;
    box-shadow: 0 2px 14px 0 rgba(34, 34, 37, 0.1);
  }

  :host ::ng-deep .mat-button, .mat-tab-link {
    font-family: Panton;
    font-size: 16px;
    font-weight: 600;
    color: #1f2229;
    padding: 0;
  }

  :host ::ng-deep .mat-tab-link {
    margin-right: 20px;
    opacity: 1;
    min-width: auto;
    height: auto;
      .mat-button {
        min-width: 50px;
        &-focus-overlay {
          background-color:transparent;
        }
      }
  }