<div class="root">
  <div class="left-panel-wrapper" *ngIf="isLoaded">
    <div class="back-panel">
      <div class="back-panel__link">
        <div class="back-panel__link_icon"></div>
        Назад
      </div>
      <div class="back-panel__model">
        Осмотр ТС {{ titlePanel }}
      </div>
    </div>

    <mat-tab-group class="tabs" animationDuration="0ms" [selectedIndex]="selectedPageIndex" (selectedTabChange)="onLinkClick($event)">
      <mat-tab *ngFor="let tab of tabsLabel">

        <ng-template mat-tab-label>
          <div class="tabs__{{ tab.type }} img"></div>
          <span>{{ tab.label }}</span>
        </ng-template>

        <ng-template matTabContent>
          <div [ngSwitch]="tab.type">
            <cc-info *ngSwitchCase="'info'" [inspectionCar]="inspectionCar" [brands]="brands" [selectedPageIndex]="selectedPageIndex"></cc-info>
            <cc-photo *ngSwitchCase="'photo'"></cc-photo>
            <cc-damage-details *ngSwitchCase="'damage'" [nextActiveComponent]="nextActiveComponent" (showDamageComments)="showComponent($event)"></cc-damage-details>
            <cc-result-inspection *ngSwitchCase="'result-inspection'"></cc-result-inspection>
            <cc-complete-left *ngSwitchCase="'complete'" (showCompleteRight)="showComponent($event)" (closeDamageComments)="closeDamageComments()"></cc-complete-left>
          </div>
        </ng-template>

      </mat-tab>
    </mat-tab-group>
  </div>

  <div *ngIf="showRightPanel" class="right-panel-wrapper">
    <cc-damage-comments *ngIf="tabType==='damage'" [componentSelect]=component (closeDamageComments)="closeDamageComments()" (activeteComments)="activateDamageComments($event)"></cc-damage-comments>
    <cc-complete-right *ngIf="tabType==='complete'" [completeItem]="completeItem"  (closeDamageComments)="closeDamageComments()"></cc-complete-right>
  </div>

</div>
