.root {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 64px);
}

/* Left Section */
.left-panel-wrapper {
  margin-left: 80px;
  margin-right: 80px;
  flex: 0 720px;
  max-width: 720px;
  padding-bottom: 20px;
  z-index: 0;
}

/* Right Section */
.right-panel-wrapper {
  flex: 1;
  box-shadow: 0 2px 8px 0 rgba(34, 34, 37, 0.1);
  background-color: #ffffff;
}

@media (max-width: 1366px) and (min-width: 768px) {
  .right-panel-wrapper {
    position: fixed;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
  }
}

.back-panel {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin-top: 16px;
  margin-bottom: 24px;
  box-shadow: 0 2px 8px 0 rgba(34, 34, 37, .1);

  &__link {
    margin-left: 12px;
    display: flex;
    align-items: center;
    font-family: Panton;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;

    &_icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      background-image: url('/assets/images/arrows-leftsmall2x.png');
      background-size: contain;
    }
  }

  &__model {
    font-family: Panton;
    font-size: 16px;
    color: #939aa2;
    margin-right: 17px;
  }
}

.img {
  width: 24px;
  height: 24px;
  background-size: contain;
}

.tabs {
  background: #ffffff;

  &__info {
    background-image: url('/assets/images/share-info2x.png');
  }

  &__photo {
    background-image: url('/assets/images/share-photo2x.png');
  }

  &__damage {
    background-image: url('/assets/images/share-details2x.png');
  }

  &__result-inspection {
    background-image: url('/assets/images/share-order2x.png');
  }

  &__complete {
    background-image: url('/assets/images/i-tab-finish2x.png');
  }

}

:host ::ng-deep .mat-tab-label-content {
  flex-direction: column
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #da2337;
}

:host ::ng-deep .mat-tab-label {
  min-width: 0px;
  padding: 0 10px;
}

:host ::ng-deep .mat-tab-labels {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  margin-left: 23px;
}
