// :host ::ng-deep .mat-form-field-disabled .mat-form-field-underline {
//     // height: 0;
// }

// :host ::ng-deep .mat-input-element:disabled {
//     font-family: Panton;
//     font-size: 14px;
//     font-weight: 600;
//     line-height: 1.14;
//     color: #1f2229;
// }

// :host ::ng-deep .mat-select-disabled .mat-select-value {
//     color: rgba(black, 0.38);
// }

// :host ::ng-deep .mat-form-field-label {
//   //font-family: Panton;
//   //   font-size: 14px;
//   //   font-weight: 600;
//   //   line-height: 1.14;
//   color: inherit;
// }

// // :host ::ng-deep
// .comment-info {
//  color: red;
// }
