<form [formGroup]="form" novalidate>
  <div class="main">
    <cc-corporate-data [brands]="brands" [models]="models"></cc-corporate-data>
    <cc-form-block [title]="'Общая информация'" [fields]="fields['general-info']"> </cc-form-block>
    <cc-form-block [title]="'Двигатель / КПП / АКБ / Привод'" [fields]="fields['general-detail']"> </cc-form-block>
    <cc-form-block [title]="'Ключи / Сигнализация'" [fields]="fields['signaling']"> </cc-form-block>
    <cc-form-block [title]="'Резина / Ремонтный Комплект'" [fields]="fields['rubber']"> </cc-form-block>
    <cc-form-block [title]="'Комфорт в салоне'" [fields]="fields['comfort-cabin']"> </cc-form-block>
    <cc-form-block [title]="'Комплектация'" [fields]="fields['complectation']"> </cc-form-block>
    <cc-form-block [title]="'Дополнительное оборудование'" [fields]="fields['additional-equipment']">
    </cc-form-block>

    <div class="button">
      <div class="button-content" (click)="nextTab()">Продолжить</div>
    </div>

  </div>
</form>
