.main {
  padding: 32px 40px 40px 40px;
}

.mat-form-field {
  width: 304px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  &__title {
    margin-bottom: 16px;
    font-family: Panton;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #1f2229;
  }

  &__field {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.comment {
  flex-grow: 1;
}

.selectComment {
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: flex-end;

  &-content {
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    background-color: #da2337;
    box-shadow: 0 2px 14px 0 rgba(34, 34, 37, .1);
    font-family: PantonSemiBold;
    font-size: 14px;
    line-height: 36px;
    border-radius: 1px;
    cursor: pointer;
  }
}
