<div class="info__field">
  <div [ngClass]="{'comment': commentClass(field)}" *ngFor="let field of fields">
    <div *ngFor="let val of inspectionParameters">
      <div *ngIf="inspectionParamsId[val.id] === field">
        <div *ngIf="val.type === 'input'">
          <mat-form-field *ngIf="!commentsField[val.id]" [formGroupName]="inspectionParamsId[val.id]">
            <input matInput formControlName="chosenValue" [placeholder]="val.name">
          </mat-form-field>

          <div *ngIf="commentsField[val.id]" [formGroupName]="inspectionParamsId[val.id]">
            <mat-form-field>
              <input matInput formControlName="chosenValue" [placeholder]="val.name">
            </mat-form-field>
            <mat-form-field class="comment-info">
              <input matInput formControlName="comment" placeholder="Комментарий">
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="val.type === 'select'">
          <div class="selectComment" *ngIf="commentsField[val.id]" [formGroupName]="inspectionParamsId[val.id]">
            <div>
              <mat-form-field>
                <mat-label>{{val.name}}</mat-label>
                <mat-select formControlName="chosenValue" placeholder="Не выбрано">
                  <mat-option [value]="null">Не выбрано</mat-option>
                  <mat-option *ngFor="let option of val.values" [value]="option.id">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="comment-info">
                <input matInput formControlName="comment" placeholder="Комментарий">
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="!commentsField[val.id]" [formGroupName]="inspectionParamsId[val.id]">
            <mat-form-field>
              <mat-label>{{val.name}}</mat-label>
              <mat-select formControlName="chosenValue" placeholder="Не выбрано">
                <mat-option [value]="null">Не выбрано</mat-option>
                <mat-option *ngFor="let option of val.values" [value]="option.id">
                  {{option.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
