<div class="auth">
    <div class="auth__left"></div>

    <div class="auth__right">
            <form [formGroup]="authForm" class="auth__form" novalidate (ngSubmit)="auth()">
                <p class="auth__form-title">ВХОД В СИСТЕМУ</p>

                <mat-form-field>
                    <input formControlName="login" matInput placeholder="Логин">
                </mat-form-field>
                <mat-error *ngIf="isControlInvalidField('login')">
                    Введите логин
                </mat-error>

                <mat-form-field class="item_top_indent">
                    <input formControlName="password" matInput placeholder="Пароль" [type]="!hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{ !hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </mat-form-field>
                <div *ngIf="isControlInvalidField('password')">
                    <mat-error *ngIf="passwordError['required']">
                        Введите пароль
                    </mat-error>
                    <mat-error *ngIf="passwordError['minlength']">
                        Введено
                        {{ passwordError['minlength']['actualLength'] }}
                        из
                        {{ passwordError['minlength']['requiredLength'] }}
                        символов.
                    </mat-error>
                </div>
                <mat-error>
                    {{ errorAuth }}
                </mat-error>

                <button class="auth__form-button" type="submit">Войти</button>
            </form>
    </div>
</div>