  .auth {
    height: 100%;
    display: flex;
    flex-direction: row;
      &__left {
        background-image: url("/assets/images/auth_auto.jpg");
        background-size: cover;
        flex: 1;
      }
      &__right {
        background-color: white;
        flex: 1;
        display: flex;
        align-items: center;
      }
      &__form {
        font-family: Panton;
        width: 388px;
        display: flex;
        flex-direction: column;
        width: 340px;
        margin-left: 80px;
          &-title {
            font-size: 18px;
            line-height: 0.89;
            letter-spacing: 0.6px;
            color: #1f2229;
            margin-bottom: 32px;
          }
          &-button {
            margin-top: 44px;
            width: 132px;
            height: 36px;
            border-radius: 1px;
            background-color: #d92337;
            font-family: Panton;
            font-size: 14px;
            color: #fff;
            border: none;
            box-shadow: 0 2px 14px 0 rgba(34, 34, 37, 0.1);
          }
      }
  }

  .item_top_indent {
    margin-top: 8px;
  }

  :host ::ng-deep .mat-form-field-underline {
    width: 340px;
    height: 0.5px;
    background-color: #e8e6e6;
  }

  :host ::ng-deep .mat-form-field {
    height: 48px;
  }

  :host ::ng-deep input.mat-input-element {
    font-size: 14px;
    line-height: 1.14;
    color: var(--cool-grey);
  }

