<div class="common-view__title">Общий вид</div>
<div class="common-view__photos">

  <div *ngFor="let item of generalView | enumToArray">
    <div *ngIf="item !== 'VIDEO_360'; else video" class="common-view__photo">
      <div class="common-view__photo-body">

        <div *ngIf="fieldsData[item]">
          <div *ngIf="imageLoading[item]" class="common-view__photo-spiner">
            <mat-spinner strokeWidth="3" value="90" mode="determinate" [diameter]="60"></mat-spinner>
          </div>

          <div class="common-view__photo-miniature" (click)="showOriginalSize(fieldsData[item].id)">
            <img class="common-view__photo-miniature_img" [src]="fieldsData[item].miniature">
            <div *ngIf="!resultView" class="common-view__photo-miniature_remove" (click)="removeMiniature(item)"></div>
          </div>
          <mat-error>
            {{ errorLoadImg }}
          </mat-error>
        </div>

        <cc-photo-load *ngIf="!fieldsData[item]" [resultView]="resultView" [fieldsData]="item" (spinerShow)="spinerShow($event)"
          (imageLoaded)="inspectionService.imageLoaded($event)"></cc-photo-load>

        <div>{{generalView[item]}}</div>
        <mat-error>
          {{ errorSaveImg }}
        </mat-error>
      </div>
    </div>

    <ng-template #video>
      <div class="common-view__photo video">
        <div class="common-view__photo-body">
          <div *ngIf="fieldsData[item]" class="common-view__photo-miniature" (click)="showOriginalSize(fieldsData[item].id)">
            <img class="common-view__photo-miniature_img" [src]="fieldsData[item].miniature">
            <div *ngIf="!resultView" class="common-view__photo-miniature_remove" (click)="removeMiniature(item)"></div>
          </div>
          <mat-error>
            {{ errorLoadImg }}
          </mat-error>

          <div *ngIf="imageLoading[item]" class="common-view__photo-spiner">
            <mat-spinner strokeWidth="3" value="90" mode="determinate" [diameter]="60"></mat-spinner>
          </div>

          <cc-photo-load *ngIf="!fieldsData[item]" [typeFile]="'Video'" [fieldsData]="item" (spinerShow)="spinerShow($event)"
            (imageLoaded)="inspectionService.imageLoaded($event)"></cc-photo-load>

          <div>Круговое видео</div>
          <mat-error>
            {{ errorSaveImg }}
          </mat-error>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div class="common-view__title">Подробно</div>
<div class="common-view__photos">

  <div *ngFor="let item of detailFoto | enumToArray">
    <div class="common-view__photo">
      <div class="common-view__photo-body">

        <div *ngIf="fieldsData[item]">
          <div *ngIf="imageLoading[item]" class="common-view__photo-spiner">
            <mat-spinner strokeWidth="3" value="90" mode="determinate" [diameter]="65"></mat-spinner>
          </div>

          <div class="common-view__photo-miniature" (click)="showOriginalSize(fieldsData[item].id)">
            <img class="common-view__photo-miniature_img" [src]="fieldsData[item].miniature">
            <div *ngIf="!resultView" class="common-view__photo-miniature_remove" (click)="removeMiniature(item)"></div>
          </div>
        </div>

        <cc-photo-load *ngIf="!fieldsData[item]" [resultView]="resultView" [fieldsData]="item" (imageLoaded)="inspectionService.imageLoaded($event)"></cc-photo-load>

        <div class="common-view__photo-load_name">{{detailFoto[item]}}</div>
        <mat-error>
          {{ errorSaveImg }}
        </mat-error>
      </div>
    </div>

  </div>
</div>

<div *ngIf="showCarousel">
  <div class="carousel-container">
    <div>
      <cc-carousel class="carousel-container__img" [images]="images" [idBigFile]="idImageBig" (closePanel)="closeCarousel()"></cc-carousel>
    </div>
  </div>
  <div class="carousel-container__overlay"></div>
</div>
